body{
    background-color: #87D628;
    color: black;
    word-wrap: break-word;
}

#roomtile{
    border: 5px solid #004F32 ;
    min-width: 250px;
    max-width: 340px;
    text-align: center;
    border-radius: 20px;
    margin: 10px;
    padding: 0;
    background-color: #fff;
}
#roomtilenext{
    border-top: 5px solid #004F32;
    width: 100%;
}
#roomtilecurrent{
    max-width: 400px;
}
/*  */
.roomtitle{
    font-weight: bold;
    font-size: larger;
}

.bookedtime{
    font-weight: lighter;
}
.coursetitle{
    font-weight: bold;
    font-size: x-large;
}
.companytitle{
    font-weight: normal;
    font-size: larger;
}
.next-company{
    font-weight: lighter;
    font-size: smaller;
}
#content-cards-holder{
    align-items: center;
    justify-content: center;
}
